on:
  pull_request:

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v4
      - uses: actions/checkout@v2
      - name: install eslint
        run: npm install eslint@8.57.0 @typescript-eslint/parser@7.18.0 @typescript-eslint/eslint-plugin@7.18.0
      - name: lint
        run: ./node_modules/.bin/eslint . --ext .ts
